/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */

.mce-i-fastpay__icon:before {
    content: '';
    background: url(../img/wp-leadnow.png) 0 0 no-repeat;
    width: 20px;
    height: 20px;
    display: inline-block;
}